.cell-output {
  display: block;
  padding: .4em;
  margin: 0 0 10px;
  margin-left: calc(calc(-0.6em + -3px) + 2px);
  font-size: .875em;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/*
@font-face {
    font-family: Gentium;
    src: url(https://example.com/fonts/Gentium.otf);
}

h1, h2, h3 {
    font-family: Gentium;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

h1 {
    font-size: 16px;
}

h2 {
    font-size: 14px;
}
*/

.caption{
   text-align: center;
}

.figure-img {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sourceCode .bash {
  background-color: black;
}

.sourceCode .bash span {
  color: white;
}